<div class="table-dark text-center headline p-2"><h4>ユーザー情報</h4></div>
<div class=" col-12 profile pt-3">
  <table class="table table-borderless">
    <tr>
      <th colspan="4" class="text-center"><%=image_tag customer.get_customer_image %></td>
    </tr>
    <tr>
      <td class="col-4">名前:</td>
      <td><h4><%=customer.name %></h4></td>
    </tr>
  <% unless current_customer.name == "guest_user" %>
    <tr>
      <td class="col-4">自己紹介:</td>
      <td class="nomal"><%= customer.profile %></td>
    </tr>
    <tr>
      <td class="col-4">フォロー数:</td>
      <td>
        <%= link_to customer_followings_path(customer) do %>
        <%= customer.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="col-6">フォロワー数:</td>
      <td>
        <%= link_to customer_followers_path(customer) do %>
        <%= customer.followers.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <% unless current_customer.name == "guest_user" %>
        <%= link_to edit_customer_path(current_customer),class:"btn btn-outline-secondary mb-5" do %>
          <i class="fa-solid fa-user-pen"></i>ユーザー情報編集
        <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>