<%= link_to "ひとつ前に戻る",:back,class:"btn btn-outline-secondary ml-2" %>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto my-5">
      <h3><%= @customer.name %>さんの会員情報編集</h3>
    </div>
  </div>
    <%= form_with model: @customer,url: customer_path(@customer),method: :patch do |f| %>
      <div class="col-8 mx-auto">
        <table class="col-8 table table-sm table-borderless">
          
          <tr>
            <td class="table-dark pl-4">名前</td>
            <td>
              <%= f.text_field :name,autocomplete: "current_name",placeholder:"名前を入力してください",class:
              "form-control"%>
            </td>
          </tr>
          <tr>
            <td class="table-dark pl-4">プロフィール</td>
            <td>
              <%= f.text_area :profile,autocomplete: "current_profile",placeholder:"プロフィールを入力してください",class:"form-control" %>
            </td>
          </tr>
          <tr>
            <td class="table-dark pl-4">アイコン画像</td>
            <td>
              <%= f.file_field :customer_image %>
            </td>
          </tr>
          
        </table>  
         <%= f.submit "送信",class:"btn btn-outline-success" %>
         <%= link_to "退会する",unsubscribe_path(current_customer),class:"btn btn-outline-danger ml-5" %>
      <% end %>
      </div>  
</div>

