<div class="container">
  <div class="row">
    <div class="col-8 mx-auto my-5">
      <h3><%= @customer.name %>さんの会員情報編集</h3>
    </div>
  </div>
    <%= form_with model: @customer,url: customer_path(@customer),method: :patch do |f| %>
      <div class="col-8 mx-auto">
        <table class="col-8 table table-sm table-borderless">
          
          <tr>
            <td class="table-dark pl-4">名前</td>
            <td class="pl-3">
              <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td class="table-dark pl-4">プロフィール</td>
            <td class="pl-3">
              <%= f.text_area :profile %>
            </td>
          </tr>
          <tr>
            <td class="table-dark pl-4">アイコン画像</td>
            <td class="pl-3">
              <%= f.file_field :customer_image %>
            </td>
          </tr>
          
        </table>  
         <%= f.submit "送信",class:"btn btn-outline-success" %>
      <% end %>
      </div>  
       
</div>

