<div class="container-fluid">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3 class="my-5">ユーザー一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table mt-2">
        <thead class="table-dark">
          <tr>
            <th>名前</th>
            <th>遊んでいるタイトル</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      <% @customers.each do |customer| %>
          <tr>
            <td><%=customer.name%></td>
            <td><%=customer.game_scores.count%>個</td>
            <td><%=link_to "詳細を見る",customer_path(customer),class:"btn btn-outline-success" %></td>
            <td>
              <% if current_customer.following?(customer) %>
                <%=  link_to "フォローをやめる",customer_relationship_path(customer.id,current_customer),method: :delete,class:"btn btn-outline-danger" %>
              <% else %>
                <%= link_to "フォローする",customer_relationships_path(customer.id,current_customer),method: :post,class:"btn btn-outline-primary" %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>