<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="mt-5 col-12">
        <table class="table table-borderless">
          <th colspan="2" class="table-dark text-center">ユーザー情報</th>
          <tr>
            <th colspan="2" class="text-center"><%=image_tag @customer.get_customer_image %></td>
          </tr>
          <tr>
            <td>名前:</td>
            <td style="text-align: center;"><%=@customer.name %></td>
          </tr>
          <tr>
            <td class="col-4">自己紹介:</td>
            <td class="nomal"><%= @customer.profile %></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <%= link_to edit_customer_path(current_customer),class:"btn btn-outline-secondary mb-5" do %>
                <i class="fa-solid fa-user-pen"></i>ユーザー情報編集
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <!--タイトル欄-->
    <div class="col-8">
      <h3 class="mt-5"><%=@customer.name %>さんが遊んでいるタイトル</h3><h6 class="mb-5">※画像を押すと戦歴を見ることができます</h6>
        <div class="d-flex">
        <% @game_scores.each do |game_score| %>
          <table class="col-2 pr-auto mr-auto pl-0 ml-0 d-flex justify-cotent-start">
            <tbody>
              <tr>
                <td>
                  <%= link_to game_title_game_score_path(game_score.game_title_id,game_score) do %>
                    <%= image_tag game_score.game_title.get_game_title_image %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= link_to game_score.game_title.title %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
</div>


 