<!--ユーザーの詳細ページ-->

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="mt-5 col-12">
        <%= render "public/customers/profile",customer: @customer %>
      </div>
    </div>
    
<!--ユーザーが遊んでいるタイトル一欄-->
    <div class="col-md-8 col-sm-12 ">
      <h3 class="mt-5">
        <% if @customer.id == current_customer.id %>
          <h3>あなたが遊んでいるタイトル</h3><h6 class="mb-5">※画像を押すと戦歴を見ることができます</h6>
        <% else %>
          <%=@customer.name %>さんが遊んでいるタイトル</h3><h6 class="mb-5">※画像を押すと戦歴を見ることができます</h6>
        <% end %>

        <div class="row">
          <% @game_scores.each do |game_score| %>
          <div class="title-shadow mx-auto mt-3">
            <div class="col-md-6 col-sm-12 pt-2 mb-5">
              <%= link_to game_title_game_score_path(game_score.game_title_id,game_score) do %>
                <%= image_tag game_score.game_title.get_game_title_image %>
              <% end %>
            <h4 class="text-center"><%= game_score.game_title.title %></h4>
          </div>
        </div>      
          <% end %>
          <span class="text-center"><%= paginate @articles %></span>
    
    </div>
  </div>
</div>


 