<!--勝因追加ページ-->
<%= link_to "スコア画面に戻る",game_title_game_score_path(@game_score.game_title.id,@game_score),class:"btn btn-outline-secondary ml-3" %>
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3 class="my-5">勝因一覧ページ</h3>
      <h6>※1度追加したものは次回からボタンを押すだけで登録できます  </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 mx-auto bg-dark text-white py-2">
      <h4>勝因一覧</h4>
    </div>
  </div>
  <% @reasons.each do |reason| %>
  <div class="row justify-content-center flex-nowrap">
    <div class="col-md-4 col-sm-4 my-2">
      <%= form_with model:[@game_score,@reason],url:game_score_reasons_path(@game_score),method: :post do |f| %>
        <%= f.hidden_field :status,:value => "win" %>
        <%= f.hidden_field :title,:value =>reason.title %>
        <%= f.hidden_field :game_score_id,:value => @game_score.id %>
        <%=f.submit reason.title,class:"btn btn-outline-success" %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4  my-2">
      <%= link_to "削除",game_score_reason_path(reason.game_score_id,reason),method: :delete,data: {confirm: "この項目を削除するとグラフからも削除されます。本当に削除しますか？"},class:"btn btn-outline-danger" %>
      <%= link_to "編集",edit_game_score_reason_path(reason.game_score_id,reason.id),class:"btn btn-outline-success"%>
    </div>
  </div>
    <% end %>

  <div class="row">
    <div class="col-8 mx-auto">
      <h3> 新規追加はこちら </h3>
      <%= form_with model:[@game_score,@reason],url:game_score_reasons_path(@game_score),method: :post do |f| %>
        <%= f.hidden_field :status,:value =>"win" %>
        <%= f.hidden_field :game_score_id,:value => @game_score.id %>
        <%= f.text_field :title %>
        <%=f.submit "追加する",class:"btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

