<%= link_to "ひとつ前の画面に戻る",:back,class:"btn btn-outline-secondary ml-2 mt-2 mr-5" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 sm-12 mx-auto mt-5">
      <% if @customers.exists? %>
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>名前</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
        <% @customers.each do |customer| %>
              <tr>
                <td><h3><%= customer.name %></h3></td>
                <td>フォロー数: <%= customer.followings.count %></td>
                <td>フォロワー数: <%= customer.followers.count %></td>
                <td><%= link_to "詳細を見る",customer_path(customer),class:"btn btn-outline-success" %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        
      <% else %>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 mx-auto">
            <h3>まだユーザーはいません</h3>
          </div>
        </div>
      </div>
        
      <% end %>
    </div>
  </div>
</div>