<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-3 review_btn text-center mx-auto bg-dark"><%= link_to "全ての評価",admin_reviews_path,class:"text-white text-decoration-none" %></div>
        <div class="col-3 review_btn text-center text-white mx-auto"><%= link_to "高評価",highrating_path,class:"text-white text-decoration-none"  %></div>
        <div class="col-3 review_btn text-center text-white mx-auto"><%= link_to "低評価",lowrating_path,class:"text-white text-decoration-none"  %></div>
      </div>
      <% @reviews.each do |review| %>
        <%= link_to edit_admin_review_path(review) do %>
          <div class="border mx-auto py-2 my-4 px-3">
            <div class="row">
              <div class="col-2">
                <%= image_tag review.customer.get_customer_image(50,50),class:"rounded-circle" %>
              </div>
              <div class="col-7"> 
                <%=review.customer.name %><br><span class="font-weight-bold"><%= review.title%></span><br><%=review.created_at.strftime('%Y/%m/%d %H:%M') %><br><%= review.body %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>