<!--管理者ゲームタイトル編集ページ-->
<div class="container">
  <div class="row">
    <div class="col-8 my-5 pt-5 mx-auto"><h3>タイトル編集</h3></div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= form_with model: @game_title,url: admin_game_title_path,method: :patch do |f| %>
        <table class="table-sm table table-borderless">
          <tr>
            <td class="table-dark"><%= f.label :title,"タイトルを入力" %></td>
            <td><%=f.text_field :title %></td>
          </tr>
          <tr>
            <td class="table-dark"><%= f.label :name,"イメージ画像" %></td>
            <td><%=f.file_field :image, accept: "image/*"%></td>
          </tr>
          <tr>
            <td class="table-dark"></td>
            <td><%=f.submit "編集完了",class:"btn btn-outline-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>