<%=image_tag @game_title.image %>
<%=@game_title.title %>

<h3>勝敗登録</h3>
<%= link_to "Win!",new_game_score_reason_path(@game_score),class:"btn btn-outline-danger" %>

<%= link_to "lose...",game_score_lose_reason_path(@game_score),class:"btn btn-outline-primary" %>

<!--勝因グラフ-->
<%= pie_chart Reason.where(status: 0,game_score_id: @game_score.id).group(:title).count %>

<!--敗因グラフ-->
<%= pie_chart Reason.where(status: 1,game_score_id: @game_score.id).group(:title).count %>
