<nav class ="navbar navbar-expand-lg px-0 py-0 bg-dark">
  <div class="collapse navbar-collapse">
    <div class ="col-3">
      <a class="navbar-brand" href="/">
        <%= image_tag 'Rough.png',size:"200x100"%>
      </a>
    </div>
    <div class="col-4"><%= render "public/searches/searches" %></div>
      
    <div class ="col-5 bg-dark">
        <nav class="nav-bar navbar-dart bg-dark text-light">
          <ul class="navbar-nav my-3 d-md-flex justify-content-md-end">
            
            <li class="nav-item mr-3">
              <%=link_to "マイページ",customer_path(current_customer),class:"btn btn-sm btn-outline-light" %>
            </li>
            
            <li class="nav-item mr-3">
              <%=link_to "お気に入り",customer_favorites_path(current_customer),class:"btn btn-sm btn-outline-light" %>
            </li>
            
            <li class="nav-item mr-3">
              <%=link_to "ユーザ一覧",customers_path,class:"btn btn-sm btn-outline-light" %>
            </li>
            
            <li class="nav-item mr-3">
              <%=link_to "タイトル一覧",game_titles_path,class:"btn btn-sm btn-outline-light" %>
            </li>
            
            <li class="nav-item mr-3">
            <%=link_to "ログアウト",destroy_admin_session_path,method: :delete,class:"btn btn-sm btn-outline-light" %>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</nav>